#$ pip freeze | grep huggingface
huggingface-hub==0.31.1
langchain-huggingface==0.2.0
#$ pip freeze | grep langchain
langchain==0.3.25
langchain-core==0.3.59
langchain-huggingface==0.2.0
langchain-text-splitters==0.3.8